/* generic styles */

* {
  box-sizing: border-box;
}

body {
  margin:0;
  padding:0;
  background:#fafafa;
  font-family: Georgia, 'Times New Roman', Times, serif
}

h1,
h2,
h3,
h4,
h5,
h6,
#title,
nav,
.btn,
.btn-outline,
.lead,
.headernav {
  font-family: 'Open Sans', sans-serif;
}

a {
  color:#4169e1;
  text-decoration: none;
  transition: color .3s ease, background-color .3s ease, border-color .3s ease;
}

a:hover {
  text-decoration: underline;
  color: #d82e2e
}

/* specific things */

/* sidebar left */

.directory a:hover {
  text-decoration:underline;
}
.directory a:last-child {
  font-weight:700;
}

.main-nav {
  width: 20%;
  float: left;
  height: 100%;
  top:0;
  left:0;
}

nav {
  padding:1em;
}

@media only screen and (max-width: 800px) {
  .main-nav {
    position: static;
    width: 100%;
  }
}

.directory {
  margin-left:1em;
}

ul.nav {
  list-style:none;
  line-height:1.5em;
}

li.menuitem.active a {
  font-weight: bold;
}

/* sidebar right */
.nav-contents {
  float: right;
  padding:1em;
  width: 20%;
}

@media only screen and (max-width: 800px) {
  .nav-contents {
    position: static;
    float: none;
    width: 100%;
  }
}

.nav-contents ul {
  list-style:none;
  margin:0 1em;
  padding:0;
}

.nav-contents ul li:first-child {
  border-bottom:1px solid black;
  padding-bottom:0.2em;
  margin-bottom:0.4em;
}
.nav-contents:hover {
  opacity:1;
}
.layer2 {
  margin-left:1em;
}

/* content */

.main-content {
  float: left;
  max-width:880px;
  width: calc(60%);
  border-left:1px solid #e3e3e3;
  border-right:1px solid #e3e3e3;
}

@media only screen and (max-width: 800px) {
  .main-content {
    position: static;
    width: 100%;
    margin: 0;
  }
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6,
#title {
  clear: both;
  line-height: 1.15;
  margin: 1.7em 0 1em 0;
}

h1,
#title {
  font-size: 2.2em;
}

h1:first-of-type,
#title:first-of-type {
  margin-top: 0;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.2em;
}

h5,
h6 {
  font-size: 1em;
  text-transform: uppercase;
}

p,
ul,
ol,
blockquote,
pre,
table,
img {
  margin-bottom: 1.7em;
}

ul ul {
  margin-bottom: 0;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

hr {
  display: block;
  width: 100%;
  height: 1em;
  border: 0;
  margin: 2em 0;
  z-index: 1;
}

hr:before {
  content: '...';
  display: block;
  width: 100%;
  letter-spacing: 2em;
  text-indent: 2em;
  z-index: 1;
  line-height: .5;
  text-align: center;
  transition: color .3s ease;
}

hr:hover:before {
  color: #616870;
}

blockquote {
  font-style: italic;
  border-left: 4px solid currentColor;
  margin-left: 0;
  padding-left: 1.7em;
}

code {
  font-size: 85%;
  background: #f6f7f8;
  border-radius: 3px;
  width: 100%;
  overflow-x: auto;
  display: inline;
}

p code {
  display: inline;
  padding: 4px;
  color: #616870;
}

pre {
  padding: 1em;
  border-radius: 3px;
  background-color: #f6f7f8;
}

pre code {
  color: #616870;
  background-color: #f6f7f8;
  display: block;
  padding: 1em;
}

pre code.hljs {
  background-color: #f6f7f8;
}

.article {
  font-size: 18px;
  margin:2em 3em;
}

@media only screen and (max-width: 800px) {
  .article {
    margin: 2em;
  }
}

pre {
  border:1px solid #aaa;
  overflow:hidden;
}
pre code {
  overflow-x:scroll;
}

.article a:hover {
  text-decoration:underline;
}


p code, li code  {
  background:#F0F0F0;
  color:#444;
  border:1px solid #ccc;
  padding:0.1em 0.2em;
}
/*
.article h1 {
  font-weight:700;
  font-size:30pt;
  padding:6pt 0;
  margin:0;
}
.article h2 {
  padding:3pt 0;
  margin:0;
  font-weight:600;
}
.article p {
  white-space:pre-wrap;
  line-height:1.5em;
  line-break: strict;
}
*/

.article h1, .article h2 {
  position:relative;
}
.section-anchor {
  position:absolute;
  font-weight:400;
  left:-0.8em;
}
.section-anchor a {
  color:#999999;
}
.section-anchor a:hover {
  color:#333333;
}

footer {
  margin: 2em;
}