<style>
    form,
    textarea {
        width: 100%;
    }
</style>
<form action="/edit" method="get">
    Название:<br><input type="text" name="file"/>
    <br>
    <input class="btn" type="submit" value="Создать" />
</form>